<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhy.blog.mapper.ClassifyMapper">

    <!-- 开启缓存  -->
    <cache readOnly="true"/>

    <insert id="addClassify">
        insert into t_classify(`classify_code`,`classify_name`,`classify_create_time`,`classify_update_time`)
        values (#{classifyCode},#{classifyName},#{classifyCreateTime},#{classifyUpdateTime})
    </insert>

    <select id="queryClassifyTotalCount" resultType="int">
        select count(classify_code) from t_classify
    </select>

    <select id="queryClassifies" resultType="classify">
        select classify_code, classify_name, classify_create_time, classify_update_time
        from t_classify
        limit #{begin},#{pageSize}
    </select>

    <update id="updateClassify">
        update t_classify set
        classify_name=#{classifyName},classify_update_time=#{classifyUpdateTime}
        where classify_code = #{classifyCode}
    </update>

    <delete id="deleteClassify">
        delete from t_classify where classify_code=#{classifyCode}
    </delete>

    <select id="queryAllClassifies" resultType="classify">
        select classify_code,classify_name from t_classify
    </select>

</mapper>